
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

::-webkit-scrollbar{
    display: none;
}


body{
   background-color:white;
    color: #4b4b4b;
   
    font-family: 'Noto Sans', sans-serif;
}